{% extends 'halaman/base.html' %}
{% load static %}
{% block content %}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/ccc.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Contact Me</h1>
                    <h4></h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Send us a message</h2>
            <div class="row">
                <div  class="col-12 col-md-12" >
                    <div class="col-md-4 ">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Alamat</h4>
                                <p> Jalan M. Yamin <br>
                                    Samarinda,<br>
                                    Kalimantan Timur
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Nomor HP</h4>
                                <p> Nurjanna<br>
                                    +62 822 5076 304<br>
                                </p>
                            </div>
                        </div>
                    </div>
           </div>
        </div>
    </div>
</div>
{% endblock  %}



